body {
  background-color: #6DE493 ;
}
h1 {
  size: 62;
  text-align: center;
}

input {
   transform:translate(-50%,-50%);
  text-align: center;
  position:absolute;
  top: 77%;
  left: 47%;
}

button {
  transform:translate(-50%,-50%);
  text-align: center;
  position:absolute;
  top: 77%;
  left: 55%;
}

.DenzelCurry {
  height: 300px;
  transform:translate(-50%,-50%);
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
}
